networks:
  app-tier:
    driver: bridge

secrets:
  db_password:
    file: ./secrets/db_password
  db_url:
    file: ./secrets/db_url
  jwt_key:
    file: ./secrets/jwt_key

services:
  mongo:
    image: mongo
    restart: always
    volumes:
      - ./db_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD_FILE: /run/secrets/db_password
    secrets:
      - db_password
    expose:
      - '27017'
    ports:
      - '27017:27017'
    networks:
      - app-tier
  auth:
    image: auth_service
    restart: always
    volumes:
      - ./common:/usr/app/common
    environment:
      MONGO_URL_FILE: /run/secrets/db_url
      JWT_KEY_FILE: /run/secrets/jwt_key
    secrets:
      - jwt_key
      - db_url
    ports:
      - '8080:8080'
    networks:
      - app-tier
  backend:
    image: backend
    restart: always
    volumes:
      - ./common:/usr/app/common
    environment:
      MONGO_URL_FILE: /run/secrets/db_url
      AUTH_URL: 'http://auth:8080/info'
    secrets:
      - db_url
    ports:
      - '8081:8081'
    networks:
      - app-tier
  frontend:
    image: frontend
    restart: always
    environment:
      THIS_DOMAIN: 'localhost'
    ports:
      - '80:80'
